<%= form_for @post do |f| %>

  <div>
    <%= f.label "タイトル" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label "本文" %>
    <%= f.text_area :description, rows: "20" %>
  </div>

  <div>
    <%= f.label "カテゴリー" %>
    <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] } %>
  </div>

  <div>
    <%= f.label "公開" do %>
      <%= f.check_box :published, {}, checked_value = "true", unchecked_value = "false" %>公開
    <% end %>
  </div>

  <%= f.submit "変更を保存" %>

<% end %>
