<%= render 'form' %>

<%= form_for :image, url: images_path, method: :post do |f| %>

  <%= f.label "画像を追加" %>
  <%= f.text_field :name, placeholder: "example.jpg" %>

  <%= f.hidden_field :post_id, value: @post.id %>

  <%= f.submit "画像を追加" %>

<% end %>

<div>
  <% @post.images.each do |image| %>
    <div>
    <%= image_tag image.name %>
    <%= image.name %>
    </div>
    <div>
      <% if @post.has_thumbnail? and !image.type.nil? %>
        <%= link_to "サムネイル", thumbnailize_image_path(image), method: :patch, class: "unthumbnailize" %>
      <% elsif !@post.has_thumbnail? %>
        <%= link_to "サムネイルに登録", thumbnailize_image_path(image), method: :patch %>
      <% end %>
      <%= link_to "削除", image_path(image), method: :delete, data: { confirm: "削除しますか?" } %>
    </div>
  <% end %>
</div>
