<% @posts.each do |post| %>

  <div class="post">

    <% if %w(Video Photo Graphic).include?(current_category_name) %>
      <%= render partial: 'title', locals: { post: post, link: true } %>
      <%= image_tag post.thumbnail.name, class: "img-responsive" unless post.thumbnail.nil? %>
    <% elsif current_category_name == "Article" %>
      <%= render partial: 'title', locals: { post: post, link: true } %>
    <% end %>

  </div>

<% end %>

<% if logged_in? %>
  <%= link_to "新規投稿", new_post_path %>
  <%= link_to "ログアウト", logout_path, method: :delete %>
<% end %>
