<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/custom_head' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/javascript' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% cls = "container" %>
    <% cls += " content-" + current_category_name.downcase if current_category_name %>
    <% cls += " index" if isIndexPage? %>
    <div class="<%= cls %>" id="content">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
