<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/custom_head' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/javascript' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" id="content">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
